<h1>Listing card_types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Link</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @card_types.each do |card_type| %>
      <tr>
        <td><%= card_type.name %></td>
        <td><%= card_type.link %></td>
        <td><%= link_to 'Show', card_type %></td>
        <td><%= link_to 'Edit', edit_card_type_path(card_type) %></td>
        <td><%= link_to 'Destroy', card_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Card type', new_card_type_path %>
