<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @card_type.name %>
</p>

<p>
  <strong>Link:</strong>
  <%= @card_type.link %>
</p>

<%= link_to 'Edit', edit_card_type_path(@card_type) %> |
<%= link_to 'Back', card_types_path %>
