<h1>Listing cards</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>English name</th>
      <th>Link</th>
      <th>Img link</th>
      <th>Description</th>
      <th>Profession</th>
      <th>Type</th>
      <th>Card type</th>
      <th>Cost</th>
      <th>Attack</th>
      <th>Health</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%= card.name %></td>
        <td><%= card.english_name %></td>
        <td><%= card.link %></td>
        <td><%= card.img_link %></td>
        <td><%= card.description %></td>
        <td><%= card.profession %></td>
        <td><%= card.type %></td>
        <td><%= card.card_type %></td>
        <td><%= card.cost %></td>
        <td><%= card.attack %></td>
        <td><%= card.health %></td>
        <td><%= link_to 'Show', card %></td>
        <td><%= link_to 'Edit', edit_card_path(card) %></td>
        <td><%= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Card', new_card_path %>
